<div class="row gallery" ng-controller="GalleryController" ng-init="checkAuth()">
    <div class="twelve columns">
        <h2>Gallery</h2>
        <div google-chart chart="gallery.likeChart" style="height:200px; width:100%;"></div>
        <div google-chart chart="gallery.tagChart" style="height:300px; width:500px;"></div>
        <ul>
            <li ng-repeat="picture in gallery.pictures">
                <div class="image" ng-if="!!picture.images.thumbnail.url" ng-style="{'background-image': 'url(' + picture.images.thumbnail.url + ')'}">
                    <div class="whirlpool" ng-if="gallery.isLoading">
                        <div class="cssload-whirlpool"></div>
                    </div>
                </div>
                <div class="image" ng-if="!picture.images.thumbnail.url">
                    <div class="whirlpool" ng-if="gallery.isLoading">
                        <div class="cssload-whirlpool"></div>
                    </div>
                </div>
            </li>
        </ul>
        <button ng-disabled="gallery.isLoading" ng-if="gallery.page > 0" ng-click="gallery.prev()">< Previous</button>
        <button ng-disabled="gallery.isLoading" ng-if="!gallery.isLastPage" ng-click="gallery.next()">Next ></button>
    </div>
</div>
