<!DOCTYPE html>
<html ng-app="photostoryApp">
    <head>
        <title>{% block title '' %} - Photo story</title>

        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        <base href="/">
    </head>
    <body>
        <nav>
            <div id="logo">Photo story</div>
            <ul>
                <li>
                    <a ui-sref="gallery" ui-sref-active="active">Gallery</a>
                </li>
                <li>
                    <a ui-sref="contact" ui-sref-active="active">Contact</a>
                </li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
        <footer>Copyright (c) 2017 Photo Story</footer>
        <script src="{{ asset('js/bundle.js') }}"></script>
    </body>
</html>
