<!DOCTYPE html>
<html ng-app="photostoryApp">
    <head>
        <title>{% block title '' %} - Photo story</title>

        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        <base href="/">
    </head>
    <body>
        <nav class="clearfix" ng-controller="NavController as nav">
            <h4 id="logo" ui-sref="home" class="fleft">Photo story</h4>
            <ul class="fleft">
                <li>
                    <a ui-sref="gallery" ui-sref-active="active">Gallery</a>
                </li>
                <li>
                    <a ui-sref="contact" ui-sref-active="active">Contact</a>
                </li>
            </ul>
            <ul class="fright">
                <li>
                    <a ng-if="!nav.isLoggedIn" ui-sref="login" ui-sref-active="active">Login</a>
                    <a ng-if="nav.isLoggedIn" ui-sref="logout" ui-sref-active="active">Logout</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <script src="{{ asset('js/bundle.js') }}"></script>
    </body>
</html>
